doctype html
head
  title CyberManipal | MIST
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', type='text/css', href='./stylings/newsPage.css')
  link(rel='stylesheet', type='text/css', href='https://unpkg.com/aos@next/dist/aos.css')
  script(src='./scripts/newsPage.js')
  link(rel='icon', href='http://drive.google.com/uc?export=view&id=1T96CLtCEN_KQPS_KbMU3bwrx6OUp71tW', type='image/icon type')

#loaderContainer
  #loaderRipple
  p Loading
#subscribeFillForm
  #formBoxSubscribe
    #formBoxHeader
      p(onclick='closeSubscriptionForm()') X
      h1 CyberManipal
    #formContainerSubscribe
      form(method='POST', action='/addToMailingList')
        #inputTextBoxes
          .inputBOXsubscribe
            br
            input#subscriberName(type='text', name='subscriberName', placeholder='Your name', required)
            br
          .inputBOXsubscribe
            br
            input#subscriberEmail(type='email', name='subscriberEmail', placeholder='Your email address' required)
            br
        p#checkBoxMessage What do you want to subscribe for?
        #checkBOXsubscribe
          #BOX
            input#newsletterYESorNO.checkBOX(type='checkbox', name='newsYESorNO', checked)
            label.checkBoxLabel(for='newsYESorNO') Newsletter
            br
          #BOX
            input#eventsYESorNO.checkBOX(type='checkbox', name='eventsYESorNO', checked)
            label.checkBoxLabel(for='eventsYESorNO') Events
            br
        input#submitSubscribeButtn(type='submit', value='Submit')
#container
  #responsiveNavbar
    h1#resNavbarLogo CyberManipal
    #barContainer(onclick='makeCross(this)')
      p >
    #responsiveNavItems 
      p#res_LOGO.res_linkBox(onclick='clickLinks()')
        a(href='/home') MIST
      p#res_home.res_linkBox(onclick='clickLinks()')
        a(href='/nonGeek#section0') Home
      p#res_whatwedo.res_linkBox(onclick='clickLinks()')
        a(href='/nonGeek#section1') What we do
      p#res_contact.res_linkBox(onclick='clickLinks()')
        a(href='/nonGeek#section3') Contact Us
      p#res_team.res_linkBox(onclick='clickLinks()')
        a(href='/team') Team
      p#res_articles.res_linkBox(onclick='clickLinks()')
        a(href='/articles') Articles
      p#res_contribute.res_linkBox(onclick='showSubscriptionForm()')
        a Subscribe
  
  #navbar
    p#LOGO.linkBox
      a(href='/home') MIST
    p#home.linkBox
      a(href='/nonGeek#section0') Home
    p#whatwedo.linkBox
      a(href='/nonGeek#section1') What we do
    #pageHeader
      h1 CyberManipal
    p#photosLink.linkBox
      a(href='/nonGeek#section3') Contact Us
    p#team.linkBox
      a(href='/team') Team
    p#contributor.linkBox(onclick='showSubscriptionForm()')
      a Subscribe
  #navbarScroll
    p#LOGO.linkBoxScroll
      a.linksNavibar(href='/home') MIST
    p#home.linkBoxScroll
      a.linksNavibar(href='/nonGeek#section0') Home
    p#whatwedo.linkBoxScroll
      a.linksNavibar(href='/nonGeek#section1') What we do
    #pageHeaderScroll
      h1 CyberManipal
    p#photosLink.linkBoxScroll
      a.linksNavibar(href='/nonGeek#section3') Contact Us
    p#team.linkBoxScroll
      a.linksNavibar(href='/team') Team
    p#contributor.linkBoxScroll(onclick='showSubscriptionForm()')
      a.linksNavibar Subscribe
  #headBar
    #headerTitle
      h1 CYBERSECURITY NEWS, HANDPICKED BY MIST
  #newsHeads
    h1 CyberSecurity News
  #newsBars
    each val, index in newsReports
      - var titleNews = newsReports[index].newsHeading.split(" ");
      - var divID = titleNews[0]+titleNews[1]+titleNews[2];
      - var newsUrl = newsReports[index].about;
      .newsPart(data-aos='flip-up')
        a(href=newsUrl)
          .newsPhoto(id=divID)
          style.
            ##{divID} {
            background-image: url("#{newsReports[index].highlightPhoto}");
            }
          .newsTitle
              p #{newsReports[index].newsHeading}
#footNotes(data-aos='flip-down') 
  #pageName
    h1 CyberManipal
    p &copy;2020 MIST, All rights reserved
  #subscribeForm(data-aos='zoom-in' data-aos-duration="1500")
    p Subscribe to our newsletter
    button#mailSubmit(onclick='showSubscriptionForm()') Subscribe
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });
