doctype html
head
  title Team | MIST
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  link(rel='icon', type='image/png', href='./images/favicon/favicon-196x196.png', sizes='196x196')
  link(rel='icon', type='image/png', href='./images/favicon/favicon-96x96.png', sizes='96x96')
  link(rel='icon', type='image/png', href='./images/favicon/favicon-32x32.png', sizes='32x32')
  link(rel='icon', type='image/png', href='./images/favicon/favicon-16x16.png', sizes='16x16')
  link(rel='icon', type='image/png', href='./images/favicon/favicon-128.png', sizes='128x128')
  link(rel='apple-touch-icon-precomposed', sizes='57x57', href='./images/favicon/apple-touch-icon-57x57.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='./images/favicon/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='./images/favicon/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='./images/favicon/apple-touch-icon-144x144.png')
  link(rel='apple-touch-icon-precomposed', sizes='60x60', href='./images/favicon/apple-touch-icon-60x60.png')
  link(rel='apple-touch-icon-precomposed', sizes='120x120', href='./images/favicon/apple-touch-icon-120x120.png')
  link(rel='apple-touch-icon-precomposed', sizes='76x76', href='./images/favicon/apple-touch-icon-76x76.png')
  link(rel='apple-touch-icon-precomposed', sizes='152x152', href='./images/favicon/apple-touch-icon-152x152.png')
  meta(name='application-name', content=' ')
  meta(name='msapplication-TileColor', content='#FFFFFF')
  meta(name='msapplication-TileImage', content='./images/favicon/mstile-144x144.png')
  meta(name='msapplication-square70x70logo', content='./images/favicon/mstile-70x70.png')
  meta(name='msapplication-square150x150logo', content='./images/favicon/mstile-150x150.png')
  meta(name='msapplication-wide310x150logo', content='./images/favicon/mstile-310x150.png')
  meta(name='msapplication-square310x310logo', content='./images/favicon/mstile-310x310.png')
  link(rel='stylesheet', type='text/css', href='./stylings/teamStyling.css')
  script(src='./scripts/teams.js')
  link(rel='stylesheet', type='text/css', href='https://unpkg.com/aos@next/dist/aos.css')
  script(src='./scripts/wow.js')


#loaderContainer
  #loaderRipple
  p Loading
#howToApply
  #closeButton
    p#Xbut(onclick='hideDialog()') &times;
  #contentApply
    h1 How to be a part of MIST?
    howtoapply 
      li We announce out recruitment dates every odd semester. These are the steps you need to follow to get in:
      br
      li We don't care about your educational background. Cybersecurity is for everyone.
      br
      li We have multiple domains. Decide what domain you want to be a part of. Even if you cannot make up your mind, we'll help you understand and find your interest.
      br
      li Reach the venue on time. Venue and time will be on our posters. 
      br
      li You'll be given a question paper to solve and 60 minutes on the clock(trust us, you can finish it in 30).
      br
      li We'll let you know if you got in shortly after the test. You can keep track of the results on our Instagram and Facebook page 
      br
      li Even if you didn't get in, you can always attend our workshops to keep yourselves updated.
      br
#responsiveNavbar
  #barContainer(onclick='makeCross(this)')
    .hamString.bar1
    .hamString.bar2
    .hamString.bar3
  #responsiveNavItems
    p#res_LOGO.res_linkBox(onclick='clickLinks()')
      a(href='/home') MIST
    p#res_home.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section0') Home
    p#res_whatwedo.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section1') What we do
    p#res_contact.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section2') Gallery
    p#res_photosLink.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section3') Contact Us
    p#res_news.res_linkBox(onclick='clickLinks()')
      a(href='/news') News
    p#res_contribute.res_linkBox(onclick='clickLinks()')
      a(href='/contributors') Contributors

#navbar(data-aos='fade-down')
  p#LOGO.linkBox(onclick='redirectToBoot()')
    img(src="./images/logo/logoLight.png")
  p#home.linkBox
    a(href='/nonGeek#section0') Home
  p#whatwedo.linkBox
    a(href='/nonGeek#section1') What we do
  p#contact.linkBox
    a(href='/nonGeek#section2') Gallery
  p#photosLink.linkBox
    a(href='/nonGeek#section3') Contact Us
  p#news.linkBox
    a(href='/news') News
  p#contribute.linkBox
    a(href='/contributors') Contributors
#header
  h1 Meet the team.
  a#applyButton(onclick='showDialog()')
    | How to apply
#teamLinksNavbar
  #cc.teamLinkBox(onclick='showCC()')
    a#ccLink Board
  #mc.teamLinkBox(onclick='showMC()')
    a#mcLink Management Committee
  #wc.teamLinkBox(onclick='showWC()')
    a#wcLink Working Committee
#corec
  each val1, index1 in CC
    .ccprofile
        - var firstName = CC[index1].name.split(" ");
        - var divID = firstName[0]+firstName[1]
        - var imageSrc = CC[index1].photo
        - var github = MC[index2].github
        - var linkedin = MC[index2].linkedin
        .ccPhoto(id=divID)
          img(src=imageSrc, alt='Core Committee')
        style.
          img {
            width: 100%;
            height: 100%;
          }
        .cmemberInfo
            h1.cmemberName #{CC[index1].name}
            p.cmemberPosition #{CC[index1].position}
            p.interestsMember #{CC[index1].interests}
#manc
  each val2, index2 in MC
    .mcprofile
        - var firstName = MC[index2].name.split(" ");
        - var divID = firstName[0]+firstName[1]
        - var imageSrc = MC[index2].photo
        - var github = MC[index2].github
        - var linkedin = MC[index2].linkedin
        .ccPhoto(id=divID)
          img(src=imageSrc, alt='Management Committee')
        style.
          img {
            width: 100%;
            height: 100%;
          }
        .mmemberInfo
            h1.mcmemberName #{MC[index2].name}
            p.interestsMember #{MC[index2].interests}
#workc
  each val3, index3 in WC
    .wcprofile
        .wmemberInfo
            h1.wcmemberName #{WC[index3].name}
#spacing
  p#rightsReserved &copy;2020 MIST, All rights reserved

script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });