doctype html
head
  title Team | MIST
  meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', type='text/css', href='./stylings/teamStyling.css')
  script(src='./scripts/teams.js')
  script(src='./scripts/nonGeek.js')
#howToApply
  #closeButton
    p#Xbut(onclick='hideDialog()') &times;
  #contentApply
    h1 How to be a part of MIST?
    howtoapply 
      li We announce out recruitment dates every odd semester. These are the steps you need to follow to get in:
      br
      li We don't care about your educational background. Cybersecurity is for everyone.
      br
      li We have multiple domains. Decide what domain you want to be a part of. Even if you cannot make up your mind, we'll help you understand and find your interest.
      br
      li Reach the venue on time. Venue and time will be on our posters. 
      br
      li You'll be given a question paper to solve and 60 minutes on the clock(trust us, you can finish it in 30).
      br
      li We'll let you know if you got in shortly after the test. You can keep track of the results on our Instagram and Facebook page 
      br
      li Even if you didn't get in, you can always attend our workshops to keep yourselves updated.
      br
#responsiveNavbar
  #barContainer(onclick='makeCross(this)')
    .hamString.bar1
    .hamString.bar2
    .hamString.bar3
  #responsiveNavItems
    p#res_LOGO.res_linkBox(onclick='clickLinks()')
      a(href='/home') MIST
    p#res_home.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section0') Home
    p#res_whatwedo.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section1') What we do
    p#res_contact.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section2') Gallery
    p#res_photosLink.res_linkBox(onclick='clickLinks()')
      a(href='/nonGeek#section3') Contact Us
    p#res_news.res_linkBox(onclick='clickLinks()')
      a(href='/news') News
    p#res_contribute.res_linkBox(onclick='clickLinks()')
      a(href='/contributors') Contributors

#navbar
  p#LOGO.linkBox
    a(href='/home') MIST
  p#home.linkBox
    a(href='/nonGeek#section0') Home
  p#whatwedo.linkBox
    a(href='/nonGeek#section1') What we do
  p#contact.linkBox
    a(href='/nonGeek#section2') Gallery
  p#photosLink.linkBox
    a(href='/nonGeek#section3') Contact Us
  p#news.linkBox
    a(href='/news') News
  p#contribute.linkBox
    a(href='/contributors') Contributors
#header
  h1 Meet the team.
  a#applyButton(onclick='showDialog()')
    | How to apply
#teamLinksNavbar
  #cc.teamLinkBox(onclick='showCC()')
    a#ccLink Board
  #mc.teamLinkBox(onclick='showMC()')
    a#mcLink Management Committee
  #wc.teamLinkBox(onclick='showWC()')
    a#wcLink Working Committee
#corec
  each val1, index1 in CC
    .ccprofile
        - var firstName = CC[index1].name.split(" ");
        - var divID = firstName[0]+firstName[1]
        - var imageSrc = CC[index1].photo
        .ccPhoto(id=divID)
          img(src=imageSrc, alt='Core Committee')
        style.
          img {
            width: 100%;
            height: 100%;
          }
        .cmemberInfo
            h1.cmemberName #{CC[index1].name}
            p.cmemberPosition #{CC[index1].position}
            p.interestsMember #{CC[index1].interests}
#manc
  each val2, index2 in MC
    .mcprofile
        - var firstName = MC[index2].name.split(" ");
        - var divID = firstName[0]+firstName[1]
        - var imageSrc = MC[index2].photo
        .ccPhoto(id=divID)
          img(src=imageSrc, alt='Management Committee')
        style.
          img {
            width: 100%;
            height: 100%;
          }
        .mmemberInfo
            h1.mcmemberName #{MC[index2].name}
            p.interestsMember #{MC[index2].interests}
#workc
  each val3, index3 in WC
    .wcprofile
        .wmemberInfo
            h1.wcmemberName #{WC[index3].name}
#spacing
  p#rightsReserved &copy;2020 MIST, All rights reserved
